:root{
    --cor-fundo:#d44b4b;
    --cor-principal:#f1a22b;
    --cor-secundaria:#4d1010;
    --cor-destaque:#f8438e;
    --cor-texto:#3f0202;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}